body {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1060px;
    padding-left: 40px;
    padding-right: 40px;


    @media (max-width: 1200px) {
        padding-left: 33px;
        padding-right: 33px;
    }

    @media (max-width: 768px) {
        padding-left: 18px;
        padding-right: 18px;
    }


}