@mixin link($text-decoration, $color) {
    text-decoration: $text-decoration;
    color: $color;
}

@mixin after ($display, $content, $background-image, $background-repeat, $position, $top, $left, $background-size) {
    display: $display;
    content: $content;
    background-image: $background-image;
    background-repeat: $background-repeat;
    position: $position;
    top: $top;
    left: $left;
    background-size: $background-size;
}