.footer-page__section {
    padding-top: 78px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 163px;

    @media (max-width: 1200px) {
        padding-top: 96px;
        padding-bottom: 35px;
        gap: 60px;
    }

    @media (max-width: 768px) {
        padding-top: 53px;
        padding-bottom: 40px;
        gap: 113px;
    }
}


.footer-page__div-icon-dawn {
    padding: 42px 137px;
    justify-content: center;
    border-radius: 139px;
    border: 1px solid $milky;
    display: flex;
    align-items: center;
    gap: 45px;

    @media (max-width: 768px) {
        gap: 20px;
        padding: 17px 37px;
    }
}

.footer-page__icon-dawn {
    width: 108px;
    height: 108px;

    @media (max-width: 768px) {
        width: 52px;
        height: 51px;
    }
}

.footer-page__link {
    @include link(none, $white);

}

.footer-page__title {
    margin-bottom: 17px;
    margin-top: 0;

    @media (max-width: 768px) {
        margin-bottom: 4px;
    }
}

.footer-page__desc {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Manrope;
    font-size: clamp(0.938rem, 0.694rem + 1.22vw, 1.5rem);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 24px;
}


.footer-page__div-icons {
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

}

.footer__text {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}