.header-page {
    background: linear-gradient(253deg, $light-yellow -13.48%, $gray 125.48%);
}

.header-page__div {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-page__section {
    padding-top: 41px;
    padding-bottom: 18px;

    @media (max-width: 1200px) {
        padding-top: 38px;
    }
}

.section-menu {
    @extend %flex;
    flex-wrap: wrap;
}

.section-menu__list {
    margin-top: 0;
    margin-bottom: 0;
    @extend %flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding-left: 0px;

    @media (max-width: 1200px) {
        display: none;
    }
}

.section-menu__item {
    padding: 10px 16px 10px 16px;
    border-radius: 20px;
    border: 1px solid $white;
}

.section-menu__link {
    @include link (none, $white);
    @extend %flex;
    gap: 12px;
}

.section-menu__btn {
    border: none;
    background-color: inherit;
    display: none;

    @media (max-width: 1200px) {
        display: block;
    }
}

.header-page__div-title {
    padding-top: 473px;
    padding-bottom: 119px;

    @media (max-width: 1200px) {
        padding-top: 255px;
        padding-bottom: 130px;

    }

    @media (max-width: 768px) {
        padding-top: 394px;
        padding-bottom: 149px;
    }
}

.header-page__title {
    margin-top: 0;
    margin-bottom: 0;

}

.title {
    color: $white;
    font-family: DynaPuff;
    font-size: clamp(3rem, 2.135rem + 4.32vw, 5rem);
    font-weight: 700;
    max-width: 846px;

    @media (max-width: 1200px) {
        max-width: 521px;
    }

    &--size-s {

        @media (max-width: 1200px) {
            font-size: 48px;
        }

        @media (max-width: 768px) {
            font-size: 36px;
        }
    }
}