.page {
    position: relative;

    &--color-charcoal {
        background-color: $charcoal;
    }

    &--color-dark-gray {
        background-color: $dark-gray;
    }

    &--color-dark-black {
        background-color: $graphite;
    }

    &--color-dark {
        background-color: rgba(0, 0, 0, 0.60);
    }
}

.main-page__div-ellipse {
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 1200px) {
        width: 25%;
    }

    @media (max-width: 768px) {
        width: 16%;
    }

    @media (max-width: 507px) {
        width: 8%;
    }
}

.main-page__ellipse {
    width: 100%;
    height: 448px;

    @media (max-width: 1200px) {
        height: 426px;
    }

    @media (max-width: 768px) {
        height: 356px;
    }
}