.section-introduction {
    position: relative;
}

.section-introduction__div-introduce {
    padding-top: 97px;
    padding-bottom: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;


    @media (max-width: 1200px) {
        padding-top: 101px;

    }

    @media (max-width: 768px) {
        padding-top: 72px;
        padding-bottom: 76px;
    }

}

.section-introduction__title {
    margin-top: 0;
    margin-bottom: 0;

}

.section-introduction__text {
    max-width: 524px;
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: 768px) {
        max-width: 342px;
    }
}

.section-introduction__number {
    margin-bottom: 5px;
    margin-top: 0;
}

.subtitle {
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    &--color-yellow {
        color: $yellow;
    }

    &--color-white {
        color: $white;
    }

    &--color-graphite {
        color: $graphite;
    }

    &--size-m {
        font-size: clamp(1.5rem, 0.851rem + 3.24vw, 3rem);
    }

    &--size-l {

        font-size: clamp(2.25rem, 1.926rem + 1.62vw, 3rem);

    }
}

.text {
    font-family: Manrope;
    font-size: clamp(0.875rem, 0.821rem + 0.27vw, 1rem);

    &--white-normal {
        color: $white;
        font-weight: 500;

    }

    &--black-normal {
        color: $black;
        font-weight: 500;
    }

    &--white-bolt {
        color: $white;
        font-weight: 700;
    }

    &--black-bolt {
        color: $black;
        font-weight: 700;
    }
}

.section-introduction__statistics {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 96px;
    list-style-type: none;

    @media (max-width: 768px) {
        gap: 42px;
    }
}

.section-introduction__category {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
}