.design__section {
    padding-top: 82px;
    padding-bottom: 138px;

    @media (max-width: 1200px) {
        padding-bottom: 129px;
    }

    @media (max-width: 768px) {
        padding-top: 58px;
        padding-bottom: 93px;
    }
}

.design__title {
    margin-bottom: 38px;

    @media (max-width: 768px) {
        margin-bottom: 28px;
    }
}

.design__list {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    list-style-type: none;
    display: flex;
    gap: 26px;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        gap: 26px 34px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 32px;
    }
}

.design__item {
    position: relative;
    flex-grow: 1;

    &--cicle {
        width: 47%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &--droom {
        width: 47%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &--newspaper::after {
        @include after(block, "", url("../../images/soft-star.svg"), no-repeat, absolute, 50%, 50%, cover);
        width: 268px;
        height: 268px;
        transform: translate(-50%, -50%);

        @media (max-width: 1200px) {
            width: 227px;
            height: 227px;
        }

        @media (max-width: 768px) {
            width: 172px;
            height: 172px;
        }
    }

    &--cicle::after {
        @include after(block, "", url("../../images/butterfly.svg"), no-repeat, absolute, 50%, 50%, cover);
        width: 187px;
        height: 191px;
        transform: translate(-50%, -50%);

        @media (max-width: 1200px) {
            width: 147px;
            height: 151px;
        }

        @media (max-width: 768px) {
            width: 134px;
            height: 137px;
        }
    }

    &--droom::after {
        @include after(block, "", url("../../images/asterisk.svg"), no-repeat, absolute, 50%, 50%, cover);
        width: 232px;
        height: 235px;
        transform: translate(-50%, -50%);

        @media (max-width: 1200px) {
            width: 183px;
            height: 177px;
        }

        @media (max-width: 768px) {
            width: 148px;
            height: 143px;
        }
    }
}

.design__img--newspaper {
    max-width: 100%;
    height: 414px;

    @media (max-width: 768px) {
        height: 325px;
    }
}

.design__img--size-s {
    max-width: 100%;
    height: 414px;

    @media (max-width: 1200px) {
        height: 325px;
        width: 100%;
    }
}