.quotation-section {
    background: url("../../images/rectangle.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.quotation-section__slogan {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        min-height: 498px;
    }
}

.quotation-section__title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}