.mobile__section {
    padding-top: 86px;
    padding-bottom: 86px;

    @media (max-width: 851px) {
        padding-top: 52px;
        padding-bottom: 122px;
    }

    @media (max-width: 1200px) {
        padding-bottom: 85px;
    }
}

.mobile__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 63px 40px;

    @media (max-width: 1200px) {
        gap: 102px 40px;
        justify-content: space-between;
    }

    @media (max-width: 768px) {
        gap: 63px 0;
    }
}

.mobile__img {
    border-radius: 13px;
    width: 100%;

    &--banking-project {
        height: 498px;

        @media (max-width: 768px) {
            height: 278px;
        }
    }

    &--size {
        height: 338px;

        @media (max-width: 1200px) {
            height: 448px;
        }

        @media (max-width: 768px) {
            height: 319px;
        }
    }
}

.mobile__div-banking-mobile {
    @extend %flex;
}

.mobile__item {
    background-color: $light;
    border-radius: 24px;

    &--banking-project {
        width: 100%;
        padding: 24px 20px;

        @media (max-width: 768px) {
            padding: 16px;
        }
    }

    &--banking-mobile {
        padding: 20px;
        max-width: 300px;

        @media (max-width: 1200px) {
            max-width: 47%;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            padding: 12px;
            flex-grow: 1;
        }
    }

    &--disappear-line {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &--disappear-planet {
        @media (max-width: 1200px) {
            display: none;
        }
    }


}

.mobile__link {
    @include link(none, $charcoal);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    position: relative;

}



.mobile__div-icon-arrow {
    background-color: $white;
    border-radius: 28px;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile__icon-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mobile__wrap-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
}

.tagline {
    color: $graphite;
    font-family: DynaPuff;
    font-size: clamp(2rem, 1.784rem + 1.08vw, 2.5rem);
    font-weight: 600;
}

.subtitle__text {
    color: $graphite;
    font-family: DynaPuff;
    font-size: 32px;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.mobile__title {
    margin-top: 0;
    margin-bottom: 0;
}

.mobile__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 580px;
}